@import 'src/styles/mixins';
@import 'src/styles/variables';
@import 'src/styles/colors';

.header {
  @include flex(column, flex-start, center);
  background-image: url(/static/images/image@3x.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 300px;
  padding: 30px 0;
  &-title {
    color: $white;
    font-family: 'SourceSerifPro700'!important;
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    max-width: $width;
    padding-left: 15px;
    margin: 65px 0;
    letter-spacing: -1.79px;
  }
}
