@import 'src/styles/mixins';
@import 'src/styles/colors';

.button {
  @include flex(row, space-between, center);
  height: 48px;
  padding: 12px;
  padding-left: 30px;
  padding-right: 20px;
  border-radius: 5px;
  background-color: $butterscotch;
  color: $white;
  font-family: 'SourceSerifPro700'!important;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  .text {
    margin: 0;
    letter-spacing: -0.43px;
    font-family: 'SourceSerifPro700'!important;
  }
  .plus {
    background-image: url(/static/images/plus.svg);
    background-size: 100%;
    width: 24px;
    height: 24px;
  }
  .plus.inversion {
    background-image: url(/static/images/plus-yellow@3x.png);
  }
}
.inversion {
  background-color: $white;
  color: $butterscotch;
}
