@import 'src/styles/mixins';
@import 'src/styles/colors';

.card {
  min-width: 305px;
  width: 305px;
  min-height: 426px;
  overflow: hidden;
  box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  margin-top: 30px;
  &-img {
    width: 305px;
    height: 180px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  &-info {
    padding: 20px 30px 10px;
    color: $black-2;
    .about {
      @include flex(row, space-between, center);
      width: 100%;
      font-family: 'SourceSerifProregular'!important;
      font-size: 11px;
      .category {
        width: 50%;
        letter-spacing: -0.39px;
      }
      .weight {
        width: 50%;
        text-align: right;
      }
    }
    .title {
      font-family: 'SourceSerifPro700', sans-serif!important;
      font-size: 17px;
      height: 70px;
      width: 100%;
      margin-top: 13px;
      margin-bottom: 3px;
      letter-spacing: -0.61px;
      position: relative;
      letter-spacing: -0.61px;
      .yellow {
        width: 15px;
        height: 4px;
        background-color: $butterscotch;
        position: absolute;
        left: -30px;
        top: 7px;
      }
    }
    .description {
      font-family: 'SourceSerifProregular'!important;
      font-size: 14px;
      padding: 10px 0;
      line-height: 1.3;
      letter-spacing: -0.5px;
      min-height: 74px;
    }
    .total {
      @include flex(row, space-between, flex-start);
      width: 100%;
      font-family: 'SourceSerifProregular'!important;
      .price {
        width: 50%;
        font-size: 17px;
        letter-spacing: -0.61px;
      }
      .persons {
        width: 50%;
        font-size: 14px;
        text-align: right;
        padding-left: 45px;
        line-height: 1.57;
        letter-spacing: -0.5px;
      }
    }
  }
}
