@import 'src/styles/mixins';
@import 'src/styles/colors';

.custom-textarea {
  position: relative;
  textarea {
    background: $white;
    height: 48px;
    border-radius: 5px;
    border: solid 1px $border-gray;
    padding: 12px 20px;
    font-family: 'SourceSerifProregular'!important;
    font-size: 17px;
    letter-spacing: -0.43px;
    resize: none;
    width: 100%;
    height: 118px;
  }
  textarea::placeholder {
    opacity: .7;
  }
  .max-length {
    font-family: 'SourceSerifProregular';
    font-size: 14px;
    letter-spacing: -0.35px;
    opacity: 0.6;
    color: $black-1;
    position: absolute;
    bottom: 27px;
    right: 18px;
  }
}
