@import 'src/styles/mixins';
@import 'src/styles/variables';
@import 'src/styles/colors';

.body {
  @include flex(row, space-between, center);
  flex-wrap: wrap;
  max-width: $width;
  width: 100%;
  padding-left: 16px;
  padding-right: 5px;
  .body-cap {
    @include flex(row, space-between, center);
    width: 100%;
    margin-top: 47px;
    margin-left: -20px;
    margin-bottom: 13px;
    width: 977px;
    .button {
      width: 196px;
      margin-bottom: -48px;
      margin-right: -2px;
    }
    .text-wrapper {
      @include flex(row, flex-start, center);
      .yellow {
        background-color: $butterscotch;
        width: 9px;
        height: 50px;
      }
      .text {
        margin: 0 10px;
        .title {
          letter-spacing: -1.07px;
          font-family: 'SourceSerifPro700'!important;
          font-size: 30px;
          font-weight: bold;
          margin-bottom: 6px;
        }
      }
      .sub-title {
        font-family: 'SourceSerifProregular'!important;
        font-size: 20px;
        letter-spacing: -0.71px;
      }
    }
  }
}
