@import 'src/styles/mixins';
@import 'src/styles/colors';

.custom-input {
  position: relative;
  input {
    background: $white;
    width: 100%;
    height: 48px;
    border-radius: 5px;
    border: solid 1px $border-gray;
    padding-right: 60px;
    padding-left: 20px;
    font-family: 'SourceSerifProregular'!important;
    font-size: 17px;
    letter-spacing: -0.43px;
  }
  input::placeholder {
    opacity: .7;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .search {
    background-image: url(/static/images/search@3x.png);
    background-size: 100%;
    position: absolute;
    top: 12px;
    right: 20px;
    width: 24px;
    height: 24px;
  }
  .plus {
    background-image: url(/static/images/plus-black@3x.png);
    background-size: 100%;
    position: absolute;
    top: 12px;
    right: 39px;
    width: 24px;
    height: 24px;
  }
  .max-symbols {
    font-family: 'SourceSerifProregular';
    font-size: 14px;
    opacity: 0.6;
    top: 16px;
    right: 19px;
    color: $black-1;
    letter-spacing: -0.35px;
    position: absolute;
  }
}
