@import 'src/styles/colors';
@import 'src/styles/mixins';
@import 'src/styles/variables';

@font-face {
  font-family: 'SourceSerifPro600';
  src: url('/static/fonts/SourceSerifPro600.woff2') format('woff2'),
        url('/static/fonts/SourceSerifPro-Semibold.woff') format('woff'),
        url('/static/fonts/SourceSerifPro600.ttf') format('truetype');
}
@font-face {
  font-family: 'SourceSerifPro700';
  src: url('/static/fonts/SourceSerifPro700.woff2') format('woff2'),
        url('/static/fonts/SourceSerifPro-Bold.woff') format('woff'),
        url('/static/fonts/SourceSerifPro700.ttf') format('truetype');
}
@font-face {
  font-family: 'SourceSerifProregular';
  src: url('/static/fonts/SourceSerifProregular.woff2') format('woff2'),
       url('/static/fonts/SourceSerifPro-Regular.woff') format('woff'),
       url('/static/fonts/SourceSerifProregular.ttf') format('truetype');
}

html {
  font-size: 16px;
  background-color: $white;
  height: 100%;
  overflow-y: auto !important;
}

body, div#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $white;

  form {
    width: 100%;
  }
  .modal {
    @include flex(column, flex-start, flex-start);
    position: absolute;
    width: 960px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: $white;
    overflow: hidden;
    margin: 125px 0;
    &-header {
      @include flex(column, flex-start, flex-start);
      background-image: url('/static/images/840b37dc10f03ea1d204475ef45e9c1c71e3cf13.png');
      background-size: 100%;
      width: 100%;
      padding: 94px 164px 20px;
      background-color: $gray;
      height: 314px;
      color: $white;
      position: relative;
      word-break: break-all;
      .gradient {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to bottom, $black, rgba(0, 0, 0, 0.7));
        opacity: .3;
        z-index: 1;
      }
      .title {
        font-family: 'SourceSerifPro700';
        font-size: 30px;
        letter-spacing: -1.25px;
        margin-bottom: 5px;
        z-index: 9;
      }
      .sub-title {
        font-family: 'SourceSerifProregular';
        font-size: 20px;
        letter-spacing: -0.71px;
        z-index: 9;
      }
      .add-foto {
        @include flex(row, flex-start, center);
        margin: 0;
        position: absolute;
        bottom: 0;
        margin-top: 93px;
        letter-spacing: -0.3px;
        font-family: 'SourceSerifPro700';
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;
        .icon {
          background-image: url('/static/images/camera@3x.png');
          background-size: 100%;
          width: 24px;
          height: 24px;
          margin: 0 11px;
        }
      }
    }
    &-body {
      width: 100%;
      padding: 30px 164px 118px;
      background: $white;
      .button {
        padding: 0;
        .text {
          margin: 0 8px;
        }
      }
      .ingredients {
        @include flex(row, space-between, center);
        margin: 5px 0;
        .title {
          font-family: 'SourceSerifProregular';
          font-size: 20px;
          letter-spacing: -0.71px;
          color: $black;
        }
      }
      .ingredients-list {
        @include flex(row, space-between, flex-start);
        padding: 1px 0;
        margin-bottom: 17px;
        .icon {
          background-image: url('/static/images/menu@3x.png');
          background-size: 100%;
          width: 24px;
          height: 19px;
          margin-top: 11px;
        }
        .info-wrapper {
          width: 100%;
        }
        .info {
          @include flex(row, space-between, center);
          width: 100%;
          margin-bottom: 10px;
          .custom-input {
            &:nth-child(1) {
              width: 100%;
              padding-left: 12px;
              padding-right: 20px;
            }
            &:nth-child(2) {
              max-width: 143px;
              width: 100%;
              input {
                padding-right: 20px;
                text-align: right;
              }
            }
          }
          .trash {
            background-image: url(/static/images/trash@3x.png);
            background-size: 100%;
            width: 34px;
            height: 24px;
            margin-left: 10px;
            cursor: pointer;
          }
        }
      }
      .total-wrapper {
        @include flex(row, center, center);
        height: 44px;
        margin-left: -164px;
        margin-right: -164px;
        box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.12);
        position: absolute;
        bottom: 64px;
        left: 0;
        right: 0;
        .total {
          @include flex(row, space-between, center);
          max-width: 633px;;
          width: 100%;
          font-family: 'SourceSerifProregular';
          font-size: 17px;
          color: $black-1;
          .info {
            letter-spacing: -0.3px;
          }
          .weight {
            letter-spacing: -0.3px;
          }
        }
      }
      .add {
        @include flex(row, center, center);
        font-family: 'SourceSerifPro700';
        font-size: 17px;
        letter-spacing: -0.43px;
        color: $white;
        background: $butterscotch;
        height: 64px;
        margin-left: -164px;
        margin-right: -164px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        cursor: pointer;
        p {
          font-family: 'SourceSerifPro700';
          font-size: 17px;
          letter-spacing: -0.43px;
          margin: 0 20px;
          margin-right: 0;
        }
        .plus {
          background-image: url(/static/images/plus.svg);
          background-size: 100%;
          width: 24px;
          height: 24px;
          position: absolute;
          right: 55px;
        }
      }
    }
  }

  .overlay {
    @include flex(row, center, flex-start);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(38, 38, 38, 0.7);
    overflow-y: auto;
    &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
  }
}

* {
  font-family: 'SourceSerifProregular', sans-serif;
  font-feature-settings: 'liga' 1;
  box-sizing: border-box;
}
