@import 'src/styles/mixins';
@import 'src/styles/variables';
@import 'src/styles/colors';

.toolbar {
  @include flex(row, space-between, center);
  max-width: $width;
  width: 100%;
  color: $white;
  padding-left: 15px;
  .logo {
    background-image: url(/static/images/restaurant-logo@3x.png);
    background-size: 100%;
    width: 70px;
    height: 46px;
    cursor: pointer;
  }
  .menu {
    @include flex(row, flex-start, center);
    margin: 0 67px;
    letter-spacing: -0.43px;
    &-item {
      font-size: 17px;
      font-family: 'SourceSerifPro700'!important;
      font-weight: bold;
      padding: 7px 14px;
      border-radius: 5px;
      margin: 0 1px;
      &:hover {
        background-color: $butterscotch;
        mix-blend-mode: hard-light;
        cursor: pointer;
      }
    }
  }
  input {
    width: 305px;
  }
  .account {
    @include flex(row, space-between, center);
    width: 95px;
    padding-left: 8px;
    .name {
      font-size: 17px;
      font-family: 'SourceSerifPro700'!important;
      font-weight: bold;
    }
    .icon {
      background-image: url(/static/images/user@3x.png);
      background-size: 100%;
      width: 26px;
      height: 23px;
    }
  }
}
